body{
    background-image: url("../img/anim.png");
    background-size: cover;
    height: 100%;
    color : azure;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img {
    height: 200px;
    width: auto;
    border-radius: 20px;
}

#j img {
    height: auto;
    width: 200px;
}

.jvf {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    justify-items: center;
}

.st {
    backdrop-filter: blur(8px);
    margin: 10px 30%;
    border-radius: 60px;
    padding: 5px;
    border: 1px solid white;
}

.jvf div{
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkslategray;
    max-width: 200px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid white;
}

main h1 , main p{
    display: flex;
    justify-content: center;
    text-align: center;
}

.mu ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    background-color: darkslategray;
    margin: 0 50px;
    padding: 10px;
    border-radius: 20px;
}

.mu ul li a{
    text-decoration: none;
    color : rgba(0, 0, 0, 0.614);
    font-weight: bold;
}

.mu ul li a:hover{
    color: black;
}

main div {
    margin: 0 0 25px 0;
}