body {
    background: radial-gradient(circle at center, transparent 0%, transparent 10%, rgba(0, 0, 0, 0.8) 80%), url('../img/fnaf_wall.png'),no-repeat;
    background-size: 100%;
    background-position-y: -5em;
}

div {
    position: absolute;
    border-style:groove;
    border-width: 1.5px;
    border-color: rgb(40, 40, 40);
    border-radius: 3px;
    background-color: #c5c5b0;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.mail {
    right: 60%;
    top: 18%;
}

.mail > h3 , p {
    margin: 1em;
}

.mail > img {
    position: absolute;
    top: 1px;
    left: 5em;
    width: 3em;
    height: 3em;
}

.mail:hover {
    transform: rotate(5deg) scale(1.5);
    transition: transform 330ms ease-in-out;
}

.git {
    right: 35%;
    top: 33%;
    padding-bottom: 1em;
    text-align: center;
}

.git > a {
    color : black;
}

.git:hover > a{
    color :red;
}

.git > h3 , a {
    margin: 1em;
}

.git > img {
    position: absolute;
    top: -7.5px;
    left: 1.5em;
    width: 3em;
    height: 3em;
}

.git:hover {
    transform: rotate(-5deg) scale(1.5);
    transition: transform 330ms ease-in-out;
}

.tel {
    right: 55%;
    top: 40%;
}

.tel > h3 , p {
    margin: 1em;
}

.tel > img {
    position: absolute;
    top: -9px;
    left: 2.5em;
    width: 3em;
    height: 3em;
}

.tel:hover {
    transform: rotate(-5deg) scale(1.5);
    transition: transform 330ms ease-in-out;
}

.insta {
    right: 66%;
    top: 55%;
    text-align: center;
}

.insta > h3 , p {
    margin: 1em;
}

.insta > img {
    position: absolute;
    top: -9px;
    left: 2.5em;
    width: 3em;
    height: 3em;
}

.insta:hover {
    transform: rotate(-5deg) scale(1.5);
    transition: transform 330ms ease-in-out;
}

.nom {
    right: 28%;
    top: 12%;
    text-align: center;
}

.nom > h3 {
    margin: 1em;
}

.nom > img {
    position: absolute;
    top: -9px;
    left: 4em;
    width: 3em;
    height: 3em;
}

.nom:hover {
    transform: rotate(5deg) scale(1.5);
    transition: transform 330ms ease-in-out;
}

.cv {
    right: 30%;
    top: 60%;
    padding-bottom: 1em;
    text-align: center;
}

.cv > a {
    color : black;
}

.cv:hover > a{
    color :red;
}

.cv > h3 , a {
    margin: 1em;
}

.cv > img {
    position: absolute;
    top: -7.5px;
    left: 1.5em;
    width: 3em;
    height: 3em;
}

.cv:hover {
    transform: rotate(5deg) scale(1.5);
    transition: transform 330ms ease-in-out;
}

.iut {
    right: 46%;
    top: 68%;
    text-align: center;
}

.iut > h3 {
    margin: 1em;
}

.iut > img {
    position: absolute;
    top: -9px;
    left: 7em;
    width: 3em;
    height: 3em;
}

.iutimg {
    width: 260px;
    height: 160px;
    border-radius: 5px;
}

.iut:hover {
    transform: rotate(-5deg) scale(1.5);
    transition: transform 330ms ease-in-out;
}