body {
    background: radial-gradient(circle at center, transparent 0%, transparent 10%, rgba(0, 0, 0, 0.8) 80%), url('../img/fnaf_wall.png');
    background-size: 100%;
    background-position-y: -5em;
}

div {
    position: absolute;
    border-style:groove;
    border-width: 1.5px;
    border-color: rgb(40, 40, 40);
    border-radius: 3px;
    background-color: #c5c5b0;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.mail {
    right: 60%;
    top: 15%;
}

.mail > h3 , p {
    margin: 1em;
}

.mail > img {
    position: absolute;
    top: 1px;
    left: 5em;
    width: 3em;
    height: 3em;
}

.git {
    right: 40%;
    top: 30%;
    padding-bottom: 1em;
    text-align: center;
}

.git > a {
    color : black;
}

.git:hover > a{
    color :red;
}

.git > h3 , a {
    margin: 1em;
}

.git > img {
    position: absolute;
    top: -7.5px;
    left: 1.5em;
    width: 3em;
    height: 3em;
}